<a href="https://colab.research.google.com/github/Naushad13b/Machine-Learning/blob/main/03)DataCleaningNormalizationDownload.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
data=pd.read_csv("Bhiwadi17-21.csv")

In [ ]:
data.head()

,From Date,To Date,PM2.5,PM10,NO2,SO2,CO,Ozone,Temp,RH,WS,WD,SR
0,17-10-2017 00:00,18-10-2017 00:00,142.91,583.89,100.53,172.35,1.42,50.59,30.74,25.48,1.4,253.25,-99.99
1,18-10-2017 00:00,19-10-2017 00:00,182.46,431.33,80.65,59.88,1.01,46.94,27.25,40.72,1.36,237.65,-99.99
2,19-10-2017 00:00,20-10-2017 00:00,268.01,400.41,74.95,37.55,1.07,70.18,28.01,44.63,1.11,176.48,-99.99
3,20-10-2017 00:00,21-10-2017 00:00,254.79,280.44,59.43,21.04,0.96,57.11,28.56,40.79,1.14,189.95,-99.99
4,21-10-2017 00:00,22-10-2017 00:00,288.7,362.84,90.75,60.34,1.05,57.99,27.5,40.27,1.25,222.88,-99.99

In [ ]:
#sum to count the NaN values.
data.isna().sum()

From Date    0
To Date      0
PM2.5        0
PM10         0
NO2          0
SO2          0
CO           0
Ozone        0
Temp         0
RH           0
WS           0
WD           0
SR           0
dtype: int64

In [ ]:
#Mean - missed value
import numpy as np
data["PM2.5"] = data["PM2.5"].replace(np.None, data["PM2.5"].mean())

In [ ]:
l=["PM2.5","PM10","NO","NO2","SO2","CO","Ozone","RH","WS","WD","SR"]
for i in l:
  change(i)

In [ ]:
def change(a):
  data[a] = data[a].replace('', np.Nan, inplace=True)

In [ ]:
def change(a):
  data[a] = data[a].replace(np.NaN, data[a].mean())

In [ ]:
l=["PM2.5","PM10","NO","NO2","SO2","CO","Ozone","RH","WS","WD","SR"]
for i in l:
  change(i)

In [ ]:
# downloading csv file
cities = pd.DataFrame(data)
cities.to_csv('cities1.csv')

In [ ]:
df2 = data.mean()
print(df2)

# Using multiple columns mean using DataFrame.mean()
df2 = data[["PM10","PM2.5"]].mean()
print(df2)

PM2.5     69.734094
PM10     155.070685
NO        17.445751
NO2       32.222469
SO2        7.838751
CO         1.114638
Ozone     32.914319
RH        72.656907
WS         0.428071
WD       183.178572
SR       145.392100
dtype: float64
PM10     155.070685
PM2.5     69.734094
dtype: float64

In [ ]:
data.isna().sum()

PM2.5    0
PM10     0
NO       0
NO2      0
SO2      0
CO       0
Ozone    0
RH       0
WS       0
WD       0
SR       0
dtype: int64