<a href="https://colab.research.google.com/github/Naushad13b/Machine-Learning/blob/main/04)DataSplitingwithDifferentFormate.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

dataset_m = pd.read_csv('abcd.csv')
dataset_m.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 365 entries, 0 to 364
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   PM2.5   365 non-null    float64
 1   PM10    365 non-null    float64
 2   NO      365 non-null    float64
 3   NO2     365 non-null    float64
 4   SO2     365 non-null    float64
 5   CO      365 non-null    float64
dtypes: float64(6)
memory usage: 17.2 KB

In [ ]:
dataset_m.head()

    PM2.5    PM10     NO    NO2   SO2    CO
0  152.81  322.01  42.96  56.50  5.93  2.37
1  169.87  327.02  71.64  49.40  6.20  2.73
2  206.10  402.67  61.40  52.58  8.29  2.79
3  190.26  360.42  91.92  51.02  7.24  3.03
4  188.83  346.03  52.75  56.52  6.96  2.41

In [ ]:
X = dataset_m.iloc[:, [1,2,3,4,5]].values
Y = dataset_m.iloc[:,0].values

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.33, random_state=42)

In [ ]:
X_train

array([[186.14,   5.03,  17.07,  14.16,   0.54],
       [284.21,  51.2 ,  49.12,   5.63,   2.33],
       [133.03,  34.7 ,  41.65,   6.3 ,   1.22],
       ...,
       [ 64.96,   7.27,  26.37,   2.51,   0.39],
       [329.95,  16.14,  73.38,   5.44,   1.79],
       [236.79,  39.76,  59.  ,  13.31,   1.36]])

In [ ]:
Y

array([152.81, 169.87, 206.1 , 190.26, 188.83, 175.93, 105.23,  95.3 ,
       105.12,  75.84,  73.29,  94.1 , 112.16, 157.38, 116.78, 121.87,
       116.79, 124.99,  82.33, 157.3 , 129.47, 130.77, 113.55,  88.84,
        73.43, 109.79, 109.63, 111.65, 100.  , 121.13, 144.33, 154.07,
       180.57, 168.51, 158.36, 146.48,  69.59,  88.57,  79.81,  94.38,
       123.4 , 154.19, 157.86, 148.59, 107.8 ,  65.8 , 118.53, 114.35,
       151.39, 135.44, 105.3 , 107.51, 104.4 , 108.05, 107.45,  87.63,
        65.61,  50.66,  41.25,  47.71,  74.53,  76.82,  87.63,  86.  ,
        85.85,  85.07,  83.21, 108.7 , 149.22, 133.98, 103.51,  74.3 ,
        73.77,  98.57, 127.06, 169.14, 132.9 , 117.83, 105.51, 101.16,
        95.67, 112.84,  85.  ,  81.94,  81.71,  82.68,  95.56,  96.47,
        91.22,  91.12, 101.13,  81.71,  99.05,  82.88,  94.75,  84.68,
        80.51,  98.7 ,  98.33, 117.83,  57.51,  79.23,  90.73, 101.65,
        99.3 ,  89.41,  76.95,  51.59,  81.41, 104.17, 116.16,  67.04,
        82.4 ,  93.73,  94.82,  80.2 , 110.02, 117.09,  88.78,  61.94,
        81.63,  53.02,  56.69,  52.41,  45.64,  50.93,  42.04,  44.05,
        45.74,  34.67,  53.82,  28.52,  29.68,  42.2 ,  50.19,  71.73,
        71.78,  49.18,  35.65,  20.49,  23.12,  37.68,  35.97,  53.96,
        46.47,  16.36,  39.09,   8.86,  28.08,  31.83,  42.38,  26.15,
        27.8 ,  45.72,  61.88,  53.55,  47.15,  49.54,  42.7 ,  32.77,
        41.05,  31.65,  14.17,  17.06,  16.85,  15.67,  16.74,  24.88,
        17.71,  17.54,  19.16,  21.06,  20.51,  38.21,  34.89,  37.86,
        19.78,  27.14,  34.77,  41.31,  40.35,  34.76,  25.11,  28.07,
        26.96,  40.16,  34.03,  37.72,  32.34,  20.85,  32.62,  23.97,
        17.55,  20.16,  19.88,  17.86,  20.84,  18.08,  19.58,  23.35,
        19.68,  21.4 ,  20.16,  20.12,  16.17,  22.66,  38.29,  27.19,
        29.  ,  16.2 ,  11.85,  19.2 ,  24.96,  14.14,  15.52,  28.01,
        44.74,  40.04,  22.41,  25.1 ,  28.14,  16.68,  19.96,  20.99,
        37.64,  41.3 ,  43.09,  34.07,  42.29,  23.47,  34.03,  40.8 ,
        27.7 ,  36.63,  26.54,  23.99,  28.82,  30.66,  36.94,  26.66,
        19.29,  21.3 ,  24.23,  24.25,  29.06,  37.58,  45.58,  54.77,
        60.19,  23.97,  21.71,  37.45,  33.31,  25.64,  23.01,  19.38,
        16.92,  19.26,  35.25,  28.38,  36.07,  59.65,  44.12,  37.92,
        30.96,  27.82,  32.74,  48.18,  38.82,  37.52,  21.11,  18.29,
        14.04,  22.04,  15.17,  17.66,  26.37,  45.97,  45.44,  55.34,
        57.37,  78.95,  88.6 ,  97.21,  80.62,  71.24,  77.58,  68.15,
        59.99,  26.14,  15.29,  17.03,  28.84,  57.62,  68.51,  75.57,
        75.79,  90.5 ,  70.91,  73.52,  79.46,  82.87,  87.15,  90.06,
        92.53, 112.83, 127.42, 185.81, 198.43, 117.65, 143.96, 167.1 ,
       165.9 , 158.25, 135.08,  98.63,  95.88, 126.15, 132.02, 129.22,
       122.73, 131.51, 130.75, 169.5 , 168.3 , 151.92, 131.54, 147.56,
       172.72, 201.58, 214.88, 228.86, 245.08, 193.2 , 185.79, 211.95,
       196.35, 206.72, 133.65, 111.18, 134.93, 137.83, 129.2 , 134.6 ,
       157.9 , 188.74, 189.83, 201.74, 196.75, 176.78, 183.38, 144.58,
       137.86, 213.2 , 224.89, 223.98, 229.32, 216.79, 216.65, 203.33,
       166.17, 123.16,  79.47,  62.57,  79.09])

In [ ]:
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import StandardScaler

mlr = LinearRegression()
sc_x = StandardScaler()
X_new_train = sc_x.fit_transform(X_train)

In [ ]:
X_new_train

array([[ 0.36580934, -0.71536182, -0.78098754,  1.65847505, -0.78919114],
       [ 1.38391641,  1.86254392,  0.75638626, -0.24062173,  2.00315432],
       [-0.18554853,  0.94126506,  0.39806544, -0.09145469,  0.27158814],
       ...,
       [-0.89221263, -0.59029123, -0.33488532, -0.93525032, -1.02318657],
       [ 1.85876312, -0.09503406,  1.92008948, -0.28292283,  1.16077077],
       [ 0.89162889,  1.22379058,  1.23030991,  1.46923328,  0.48998387]])

In [ ]:
mlr.fit(X_new_train,y_train)
y_hat = mlr.predict(X_new_train)

In [ ]:
mlr.score(X_test,y_test)

-22721.53618849853