<a href="https://colab.research.google.com/github/Naushad13b/Machine-Learning/blob/main/08)Diff_isna()_and_None.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [22]:
import pandas as pd

In [23]:
df = pd.read_csv('/content/Data.csv')

In [24]:
#NaN missing (not filled)empty and df contains None already
df

   Data1  Data2 Data2.1
0   34.0    NaN      45
1   34.6   15.0    None
2    NaN    5.0     NaN
3   12.7    NaN       0
4  112.0    0.0     1.1

In [25]:
# count values of None in Temp column
print(df['Data2.1'].value_counts()['None'])

1

In [26]:
#sum to count the NaN values.
df.isna().sum()

Data1      1
Data2      2
Data2.1    1
dtype: int64