<a href="https://colab.research.google.com/github/Naushad13b/Machine-Learning/blob/main/LR_RMSE.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Import the libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
# Import the dataset
dataset = pd.read_csv('allcities.csv')

In [ ]:
#Mean - missed value first put None to NaN in dataset
import numpy as np
def change1(a):
  dataset[a] = dataset[a].replace(np.NaN, dataset[a].mean())

In [ ]:
#PM2.5	PM10	NO2	SO2	CO	Ozone	Temp	RH	WS	WD	SR
l=["PM2.5","PM10","NO2","SO2","CO","Ozone","RH","Temp","WS","WD","SR"]
for i in l:
  change1(i)

In [ ]:
dataset.head()

,PM2.5,PM10,NO,NO2,SO2,CO,Ozone,Temp,RH,WS,WD,SR
0,222.37,313.72,13.30,36.83,31.70,1.73,28.90,16.76,46.97,0.47,117.20,43.07
1,128.14,177.70,15.94,29.33,24.19,1.29,17.46,17.26,70.07,0.50,107.32,26.13
2,68.44,104.81,26.27,40.26,21.80,1.13,14.43,19.50,72.69,0.72,143.68,70.30
3,62.51,104.20,22.32,40.63,20.09,0.98,16.60,20.87,73.33,0.67,85.33,70.81
4,122.99,185.76,56.59,68.72,21.60,1.25,8.85,19.49,88.84,1.15,244.78,24.45

In [ ]:
X = dataset.iloc[0:,1:]
y = dataset.iloc[0:,:1]#pm2.5 prediction

In [ ]:
# split data into training set and test set
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 1/3, random_state = 0)

In [ ]:
# Fitting simple linear regression to training set 
from sklearn.linear_model import LinearRegression
regressor = LinearRegression()
regressor.fit(X_train, y_train)

LinearRegression()

In [ ]:
print(regressor.intercept_)
print(regressor.coef_)

[-46.28102252]
[[ 4.88927569e-01  2.97711935e-02  1.38686536e-01  5.79825085e-02
   1.31127937e+01 -9.39922445e-02 -3.01890606e-01  5.65813747e-01
   7.89622503e-03 -1.62299744e-03 -1.42522940e-02]]

In [ ]:
# Predicting the test set results
y_pred = regressor.predict(X_test)

In [ ]:
y_pred

array([[136.51668624],
       [168.53599365],
       [  4.23237455],
       ...,
       [  9.49540104],
       [ 90.21594953],
       [ 19.3809875 ]])

In [ ]:
from sklearn import metrics
print(metrics.mean_absolute_error(y_test,y_pred))
print(metrics.mean_squared_error(y_test, y_pred))

25.100285278065364
1533.5290139205315

In [ ]:
from sklearn.metrics import mean_squared_error
from math import sqrt

rmse = sqrt(mean_squared_error(y_test, y_pred))

In [ ]:
rmse

39.16029895085751

In [ ]:
metrics.r2_score(y_test, y_pred)

0.7099669470893168